
.filtercontainer{
  margin-top: 20%;
  
}

.myBtnContainer{
    border: none;
    outline: none;
    padding: 13px 80px;
    margin-top: 5px;
    background-color: #2b2d72;
    cursor: pointer;
    width: 60%;
    margin-left: 15%;
    margin-bottom: 2%;
}

.btns {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
    color: black;
    
  }
  
 
  .btns:hover {
    background-color: #2b2d72;
    color: #ddd;
    
  }
  /* .myBtnContainer:hover{
    background-color: #ddd;
  } */
  /* #db38e7 */
   .btns.active {
    
    background-color: #7275cf;
    color: black;
  } 
  .btns.active:hover {
    
    background-color: #2b2d72;
    color: white;
  } 
  .show {
    display: block;
  }
  .filter-container{
    background-color: #b1acac;
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 2px;
   
  }
  .options:hover{
    background-color:#e6e3e3;
  }
  .home-container{
    margin-top: 5%;
  }

  .text{
    margin: 8%;
  }