 .btn.btn-primary {

   background: #2b2d72;
   border-color: #2b2d72;
   font-size: 14px;
   font-weight: 600;
   line-height: 18px;
   padding: 13px 35px;
   text-transform: uppercase;
   margin: 2%;
   margin-left: 6%;
 }


 .aa {
   margin-top: 10px;
 }


 .row {
   margin: 4%;

 }


 .one {
   margin-top: 4%;
 }